@model Negocio.Usuario

@{
    ViewBag.Title = "Registro";
}

    <div class="container">
        <div class="col-md-4 ml-auto mr-auto">
            <div class="card card-login card-plain">
                <div class="card-header text-center">
                    <div class="logo-container">
                        <img src="~/Content/images/logo-esba.png" alt="ESBA" style="width: 25%;">
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.error))
                {
                    <div class="alert alert-danger" role="alert" style="margin-top: 15px">
                        @ViewBag.error
                    </div>
                }
                @if (!string.IsNullOrEmpty(ViewBag.success))
                {
                    <div class="alert alert-success" role="alert" style="margin-top: 15px">
                        @ViewBag.success
                    </div>
                }
                @using (Html.BeginForm("GuardarUsuario", "Auth", FormMethod.Post))
                {
                    <div class="card-body">
                        <div class="input-group no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                            </div>
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre" } })
                        </div>
                        <div class="input-group no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                            </div>
                            @Html.EditorFor(model => model.surname, new { htmlAttributes = new { @class = "form-control", placeholder = "Apellido" } })
                        </div>
                        <div class="input-group no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                            </div>
                            @Html.EditorFor(model => model.document, new { htmlAttributes = new { @class = "form-control", placeholder = "DNI" } })
                        </div>
                        <div class="input-group no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                            </div>
                            @Html.EditorFor(model => model.sexo, new { htmlAttributes = new { @class = "form-control", placeholder = "Sexo" } })
                        @*<select class="form-control" name="sexo">
                            <option value="" selected hidden>Seleccione</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>*@
                        </div>
                        <div class="input-group no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons ui-1_email-85"></i>
                                </span>
                            </div>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                        </div>
                        <div class="input-group no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons ui-1_email-85"></i>
                                </span>
                            </div>
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Direccion" } })
                        </div>
                        <div class="input-group no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons tech_mobile"></i>
                                </span>
                            </div>
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Teléfono" } })
                        </div>
                        <div class="input-group no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons objects_key-25"></i>
                                </span>
                            </div>
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Contraseña" })
                        </div>
                        <div class="input-group no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                </span>
                            </div>
                            @Html.PasswordFor(model => model.PasswordConfirm, new { @class = "form-control", placeholder = "Confirmar Contraseña" })
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.surname, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.document, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.sexo, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Registrarse</button>
                        <div class="text-center">
                            <h6>
                                <a href="~/Auth" class="link">Ingresar</a>
                            </h6>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
