@model IEnumerable<dynamic>
@{
    ViewBag.Title = "Materias " + ViewBag.Nombre;
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Materias asignadas a @ViewBag.Nombre</h4>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table">
                        <thead class="text-primary">
                        <th>Nombre</th>
                        <th>Cant. Módulos</th>
                        <th>Asignar Materia</th>
                        </thead>
                        <tbody>
                            @foreach (var materia in Model)
                            {
                                <tr>
                                    <td>@materia.Nombre</td>
                                    <td>@materia.CantModulos</td>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                @if (materia.Asignada)
                                                {
                                                    <input class="form-check-input check" data-id="@materia.Id" type="checkbox" checked>
                                                }
                                                else
                                                {
                                                    <input class="form-check-input check" data-id="@materia.Id" type="checkbox">
                                                }
                                                <span class="form-check-sign"></span>                                                
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('change', '.check', function () {
        var materia_id = $(this).data('id')
        var asignar = $(this).is(':checked')
        $.post("@Url.Action("AsignarMateria","Panel")", { materia_id, profe_id: @ViewBag.user_id, asignar }, function (res) {
            console.log(res)
        })
    })
</script>

