@model Negocio.Materia
@{
    ViewBag.Title = "Materia";
}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <a href="~/panel/materias"> <i class="now-ui-icons arrows-1_minimal-left"></i> Volver al listado</a>
                    <h4 class="card-title">Estudiantes de @Model.Nombre</h4>
                    <div class="alert alert-success" id="toast" style="display:none;" role="alert">
                        Nota Actualizada!
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>DNI</th>
                            <th>Teléfono</th>
                            <th>Dirección</th>
                            <th>Estado</th>
                            <th>Nota</th>
                            <th></th>
                            <tbody>
                                @foreach (var user in Model.alumnos)
                                {
                                <tr>
                                    <td>@user.name @user.surname</td>
                                    <td>@user.Email</td>
                                    <td>@user.document</td>
                                    <td>@user.Phone</td>
                                    <td>@user.Address</td>

                                    @if (ViewBag.Rol != "profesor")
                                    {
                                        <td>@user.Estado_materia</td>
                                        <td style="white-space:nowrap;width:100px;">
                                            @user.Nota
                                        </td>
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @*@Html.DropDownList("estado_materia", (IEnumerable<SelectListItem>)ViewBag.Estados, new { @class = "form-control" })*@
                                        </td>
                                        <td style="white-space:nowrap;width:100px;">
                                            <input type="number" name="nota" min="0" max="10" value="@user.Nota" class="form-control nota user-@user.user_id" />
                                        </td>
                                        <td style="white-space:nowrap;width:100px;">
                                            <button type="button"
                                                    data-user="@user.user_id"
                                                    data-materia="@Model.Id"
                                                    class="btn btn-info btn-round set-nota">
                                                Actualizar
                                            </button>
                                        </td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).on('click', 'button.set-nota', function () {
            var user_id = $(this).data('user')
            var materia_id = $(this).data('materia')
            var nota = $('.nota.user-' + user_id).val()

            $.post("@Url.Action("Nota","Panel")", { user_id, nota, materia_id }, function (res) {
                console.log(res)
                $('#toast').fadeIn();
                setTimeout(function () {
                    $('#toast').fadeOut();
                }, 3000)
            })
        })
    </script>