@model IEnumerable<Negocio.Materia>
@{
    ViewBag.Title = "Materias";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <a href="~/panel/materias"> <i class="now-ui-icons arrows-1_minimal-left"></i> Volver al listado</a>
                        <h4 class="card-title">Materias</h4>
                    </div>
                    <div class="col-md-6">
                        @if (ViewBag.rol == "administrativo")
                        { 
                            <a href="@Url.Action("CrearMateria","Panel")" class="btn btn-primary pull-right">
                                <i class="now-ui-icons ui-1_simple-add"></i>                             
                                Nueva
                            </a>                        
                        }
                    </div>
                </div>
                <div class="alert alert-success" id="toast" style="display:none;" role="alert">
                    Inscripcion realizada!
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (ViewBag.rol != "alumno")
                    {
                        <table class="table">
                            <thead class="text-primary">
                            <th>Nombre</th>
                            <th>Cant. Módulos</th>
                            <th>Opciones</th>
                            </thead>
                            <tbody>
                                @foreach (var materia in Model)
                                {
                                    <tr>
                                        <td>@materia.Nombre</td>
                                        <td>@materia.CantModulos</td>
                                        <td>
                                            <a href="@Url.Action("Materias","Panel", new { id = materia.Id })" class="btn btn-info">Ver Alumnos</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <table class="table">
                            <thead class="text-primary">
                            <th>Nombre</th>
                            <th>Cant. Módulos</th>
                            <th>Opciones</th>
                            </thead>
                            <tbody>
                                @foreach (var materia in Model)
                                {
                                    <tr>
                                        <td>@materia.Nombre</td>
                                        <td>@materia.CantModulos</td>
                                        <td>
                                            <button class="btn btn-info" id="inscribirse" type="button" data-materia="@materia.Id">Inscribirse</button>
                                            <span class="badge badge-success id-@materia.Id" style="display:none;">Inscripto</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }


                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on("click", "#inscribirse", function () {
        var materia_id = $(this).data("materia")
        var $this = $(this);
        $.post("@Url.Action("Inscribirse","Panel")", { materia_id }, function (res) {
            console.log(res)
            $('#toast').fadeIn();
            $this.hide();
            $('.badge-success.id-' + materia_id).show();
            setTimeout(function () {
                $('#toast').fadeOut();
            }, 3000)
        })
    })
</script>