@model IEnumerable<Negocio.Materia>
@{
    ViewBag.Title = "Materias";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Materias</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (ViewBag.rol != "alumno")
                    {
                        <table class="table">
                            <thead class="text-primary">
                            <th>Nombre</th>
                            <th>Cant. Módulos</th>
                            <th>Opciones</th>
                            </thead>
                            <tbody>
                                @foreach (var materia in Model)
                                {
                                    <tr>
                                        <td>@materia.Nombre</td>
                                        <td>@materia.CantModulos</td>
                                        <td>
                                            <a href="@Url.Action("Materias","Panel", new { id = materia.Id })" class="btn btn-info">Ver Alumnos</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <table class="table">
                            <thead class="text-primary">
                            <th>Nombre</th>
                            <th>Cant. Módulos</th>
                            <th>Opciones</th>
                            </thead>
                            <tbody>
                                @foreach (var materia in Model)
                                {
                                    <tr>
                                        <td>@materia.Nombre</td>
                                        <td>@materia.CantModulos</td>
                                        <td>
                                            @* link para anotarse *@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }


                </div>
            </div>
        </div>
    </div>
</div>

