@model Negocio.Usuario
@{
    ViewBag.Title = "Perfil";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">
                    @Model.name @Model.surname
                </h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("ActualizarUsuario", "Panel", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" placeholder="Nombre" value="@Model.name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Apellido</label>
                                <input type="text" class="form-control" placeholder="Apellido" value="@Model.surname">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" placeholder="Email" value="@Model.Email">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>DNI</label>
                                <input type="number" class="form-control" placeholder="DNI" value="@Model.document">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Sexo</label>
                                <input type="text" class="form-control" placeholder="Sexo" value="@Model.sexo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Teléfono</label>
                                <input type="number" class="form-control" placeholder="Teléfono" value="@Model.Phone">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Dirección</label>
                                <input type="text" class="form-control" placeholder="Dirección" value="@Model.Address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right">Actualizar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

